/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f7f7f7; /* Light background color */
}

/* Modal and Overlay */
.modal, .modall {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content, .modal-contentt {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Close Button */
.close, .closee {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus, .closee:hover, .closee:focus {
    color: #000;
    text-decoration: none;
}

/* Poll Form Styling */
#addNewPollForm {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50; /* Dark text color */
    margin-top: 30px;
}

form label {
    font-weight: bold;
    color: #34495e; /* Slightly lighter shade for form labels */
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button Styling */
#addNewPollFormButton {
    background-color: #3498db; /* Blue button */
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

#addNewPollFormButton:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

#logout {
    background-color: #e74c3c; /* Red color for log out button */
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

#logout:hover {
    background-color: #c0392b; /* Darker red on hover */
}

/* Spinner */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3em;
}
